*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #212121;
    color: #fff;
}
.navbar{
    height: 40px;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
a{
    outline: none;
    color: greenyellow;
    text-decoration: none;
    font-size: 1.3rem;
}
a:hover{
    border: 2px solid greenyellow;
}
.canvas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    gap: 30px;
    padding: 20px;
}

.button{
    height: 100px;
    width: 90px;
    border: 2px solid #fff;
}
.boxes{
    display: flex;
    gap: 20px;
}
#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
